{% extends 'base.html' %}
{% load static %}
{% block content %}


        <section id="details">
          <div id="details-wrapper">
            <h2>Project Details</h2>

            <img
              id="details-img"
              src="{{project.images}}"
              alt="{{ project.title }}"
            />

            <p id="details-title">{{ project.title }}</p>
            <div id="info-wrapper">
              <div id="details-description">

                <p>Description: {{ project.description }}</p>
                <p> Difficulty level: {{ project.difficulty }}</p>
                <p>What materials were used: {{ project.materials_used }}</p>
                <p>Project author: {{ project.created_by }}</p>
                <p>Project category: {{ project.category }}</p>
              </div>


                {% if user.is_authenticated and user == project.created_by %}
              <div id="action-buttons">
                <a href="{% url 'content:project_edit' project.id %}" id="edit-btn">Edit</a>
                <a href="{%  url 'content:project_delete' project.id %}" id="delete-btn">Delete</a>
              </div>
                {% endif %}
            </div>
          </div>
        </section>
    
{% endblock %}