{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="container py-5">
    {% if projects %}
        <h1 class="text-center mb-4">
            Gallery of Projects <br /><small class="text-muted">View and enjoy!</small>
        </h1>
    {% else %}
        <h2 class="text-center text-muted">No published Projects yet...Come back later!</h2>
    {% endif %}

    <div class="row g-4">
        {% for project in projects %}
        <div class="col-md-4">
            <div class="card h-100 shadow-lg">
                {% if project.images %}
                    <img
                        src="{{ project.images.url }}"
                        class="card-img-top"
                        alt="{{ project.title }}"
                    />
                {% else %}
                    <div class="card-img-top bg-light d-flex align-items-center justify-content-center" 
                         style="height: 150px; color: #888;">
                        No image available for this project.
                    </div>
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title"><strong>Project Title:</strong> {{ project.title }}</h5>
                    <p class="card-text"><strong>Description:</strong> {{ project.description|truncatewords:10 }}</p>
                    <p class="card-text"><strong>Author:</strong> {{ project.created_by }}</p>
                    <p class="card-text"><small class="text-muted"><strong>Published:</strong> {{ project.created_at }}</small></p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'content:project_detail' project.id %}" class="btn btn-primary btn-sm">See More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}