{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section id="edit">
        <div class="form">
            <h1>You are about to delete your Tutorial</h1>


            <form id="delete" class="register-form" method="post"
                  action="{% url 'content:tutorial_delete' tutorial.id %}">

                {{ form }}
                {% csrf_token %}

                <button type="submit">Confirm</button>
                <a href="{% url 'content:tutorial_detail' tutorial.id %}" id="edit-btn">Cancel</a>
            </form>
        </div>

    </section>

{% endblock %}
