{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="container py-5">
    {% if tutorials %}
        <h1 class="text-center mb-4">
            Gallery of Tutorials <br /><small class="text-muted">View and enjoy!</small>
        </h1>
    {% else %}
        <h2 class="text-center text-muted">No favorited Tutorials yet...Come back later!</h2>
    {% endif %}

    <div class="row g-4">
        {% for tutorial in tutorials %}
        <div class="col-md-4">
            <div class="card h-100 shadow-lg">
                <div class="card-body">
                             <h3 class="card-title"><strong>Tutorial Title:</strong> {{ tutorial.title }}</h3>
                                    <p class="card-text"><strong>Content:</strong> {{ tutorial.content|truncatewords:50 }}</p>
                                    <p class="card-text"><strong>Video link:</strong>                         
                                        {% if tutorial.video_link %}
                                            <a href="{{ tutorial.video_link }}">Click here to go to the video</a>
                                        {% else %}
                                            <strong class="text-muted">No link provided</strong>
                                        {% endif %}
                                    </p>
                                    <p class="card-text"><strong>Author:</strong> {{ tutorial.created_by }}</p>
                    <p class="card-text"><small class="text-muted"><strong>Published:</strong> {{ tutorial.created_at }}</small></p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'content:tutorial_detail' tutorial.id %}" class="btn btn-primary btn-sm">See More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}