{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=\, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}"/>
    <title>Woodwork Studio</title>
</head>
<body>
<div id="wrapper">
    <header>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}</p>
        {% else %}
            <p>Welcome, Guest User</p>
        {% endif %}


        <a id="logo" href="{% url 'core:index' %}">
            <img id="logo-img" src="{% static '/images/logo.png' %}" alt="logo"/>
        </a>

        <nav>

            {% if user.is_authenticated %}
                <div class="user">
                    <a href="{% url 'core:dashboard' %}">My Dashboard</a>
                    <a href="{% url 'core:view_profile' %}">My Profile</a>
                    <a href="{% url 'content:project_create' %}"> Create New Project</a>
                    <a href="{% url 'content:tutorial_create' %}">Create New Tutorial</a>
                    <a href="{% url 'content:user_favorites' %}">Your Favourite Tutorials</a>

                    <form method="post" action="{% url 'core:logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>

                </div>
            {% else %}

                <div class="guest">
                    <a href="{% url 'core:login' %}">Log In Please</a>
                </div>
                <div class="guest">
                    <a href="{% url 'core:register' %}">Don't have an account? Sign Up Please</a>
                </div>
                {#            <div class="guest">#}
                {# #}
                {#            </div>#}
            {% endif %}
            <div class="user">
                <a href="{% url 'content:project_list' %}"> Browse all Projects </a>
                <a href="{% url 'content:tutorial_list' %}"> Browse all Tutorials </a>
            </div>
        </nav>
    </header>

    <main>

        {% block content %}
        {% endblock %}

    </main>
</div>


<footer>
    <p>&copy; 2024 Woodwork Studio by Tachev.</p>
</footer>
</body>
</html>