{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Dashboard page -->
        {% if projects %}
        <!-- Display a heading if there are posts -->
        <h2>Published Projects</h2>
        {% else %}
        <!-- Display a heading if there are NO posts -->
        <h2>No published Projects yet.</h2>
        {% endif %}
    
        <section id="dashboard">
          <!-- Display a div with information about each post (if any) -->
            {% for project in projects %}
          <!-- first post -->
          <div class="post">
            <!-- post image -->
            <img
              src="{{ project.image_url }}"
              alt="{{ project.title }} img"
            />
            <!-- post title -->
            <h3 class="title">{{ project.title }}</h3>
            <!-- post content -->
            <p class="description">{{ project.content }}</p>
            <!-- post details button -->
            <a class="details-btn" href="{% url 'details-project' project_id=post.id %}">See More</a>
          </div>
        {% endfor %}


        </section>
{% endblock %}